<main class="main">
  <div class="inner">
    <div class="card__wrapper">
      <% @prototypes.each do |prototype| %>
        <%= render 'prototype', prototype: prototype %>
      <% end %>
    </div>
  </div>
</main>
